server:
  port: 8089
  servlet:
    session:
      persistent: true
      timeout: 1d
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://154.39.79.61:3306/pledge1?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
#    username: root
#    password: CI8R>WZ1n
    url: jdbc:mysql://rm-bp1wi82pcnyn4wb3rbo.mysql.rds.aliyuncs.com:3306/pledge?useUnicode=true&characterEncoding=UTF-8&tinyInt1isBit=false&serverTimezone=Asia/Shanghai
    username: xxm
    password: Xxm123456
    hikari:
      # 池中最小空闲连接数量，默认值10
      minimum-idle: 10
      # 空闲时间
      idle-timeout: 600000
      # 池中最大连接数（包括空闲和正在使用的连接）
      maximum-pool-size: 50
      # 是否自动提交池中返回的连接
      auto-commit: true
      # 连接池的名字
      pool-name: MyHikariCP
      # 连接池中连接的最大生命周期
      max-lifetime: 1800000
      # 连接超时时间。默认值为30s
      connection-timeout: 30000

  enable: true
  basic:
    enable: true
    username: test
    password: 13579



mybatis-plus:
  global-config:
    banner: false
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

contractAddress: "0xdac17f958d2ee523a2206206994597c13d831ec7"
contractAddressBRC20: "0x55d398326f99059fF775485246999027B3197955"
contractAddressTRC20: "TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t"
