<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pledge.envconsole.book.mapper.StatisticsMapper">
  <resultMap id="BaseResultMap" type="cn.pledge.envconsole.book.entity.Statistics">
    <!--@mbg.generated-->
    <!--@Table `statistics`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="total_pledge" jdbcType="DOUBLE" property="totalPledge" />
    <result column="unwithdraw_pledge" jdbcType="DOUBLE" property="unwithdrawPledge" />
    <result column="total_pledge_reward" jdbcType="DOUBLE" property="totalPledgeReward" />
    <result column="unreceived_pledge_reward" jdbcType="DOUBLE" property="unreceivedPledgeReward" />
    <result column="total_flow_reward" jdbcType="DOUBLE" property="totalFlowReward" />
    <result column="unreceived_flow_reward" jdbcType="DOUBLE" property="unreceivedFlowReward" />
    <result column="total_experience_reward" jdbcType="DOUBLE" property="totalExperienceReward" />
    <result column="unreceived_experience_reward" jdbcType="DOUBLE" property="unreceivedExperienceReward" />
    <result column="virtual_total_pledge" jdbcType="DOUBLE" property="virtualTotalPledge" />
    <result column="virtual_unwithdraw_pledge" jdbcType="DOUBLE" property="virtualUnwithdrawPledge" />
    <result column="virtual_total_pledge_reward" jdbcType="DOUBLE" property="virtualTotalPledgeReward" />
    <result column="virtual_unreceived_pledge_reward" jdbcType="DOUBLE" property="virtualUnreceivedPledgeReward" />
    <result column="virtual_flow_amount" jdbcType="DOUBLE" property="virtualFlowAmount" />
    <result column="virtual_total_flow_reward" jdbcType="DOUBLE" property="virtualTotalFlowReward" />
    <result column="virtual_unreceived_flow_reward" jdbcType="DOUBLE" property="virtualUnreceivedFlowReward" />
    <result column="virtual_experience_amount" jdbcType="DOUBLE" property="virtualExperienceAmount" />
    <result column="virtual_total_experience_reward" jdbcType="DOUBLE" property="virtualTotalExperienceReward" />
    <result column="virtual_unreceived_experience_reward" jdbcType="DOUBLE" property="virtualUnreceivedExperienceReward" />
    <result column="currency_type" jdbcType="VARCHAR" property="currencyType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, user_address, total_pledge, unwithdraw_pledge, total_pledge_reward, 
    unreceived_pledge_reward, total_flow_reward, unreceived_flow_reward, total_experience_reward, 
    unreceived_experience_reward, virtual_total_pledge, virtual_unwithdraw_pledge, virtual_total_pledge_reward, 
    virtual_unreceived_pledge_reward, virtual_flow_amount, virtual_total_flow_reward, 
    virtual_unreceived_flow_reward, virtual_experience_amount, virtual_total_experience_reward, 
    virtual_unreceived_experience_reward, currency_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `statistics`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `statistics`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.pledge.envconsole.book.entity.Statistics" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `statistics` (user_id, user_address, total_pledge, 
      unwithdraw_pledge, total_pledge_reward, unreceived_pledge_reward, 
      total_flow_reward, unreceived_flow_reward, total_experience_reward, 
      unreceived_experience_reward, virtual_total_pledge, 
      virtual_unwithdraw_pledge, virtual_total_pledge_reward, 
      virtual_unreceived_pledge_reward, virtual_flow_amount, 
      virtual_total_flow_reward, virtual_unreceived_flow_reward, 
      virtual_experience_amount, virtual_total_experience_reward, 
      virtual_unreceived_experience_reward, currency_type
      )
    values (#{userId,jdbcType=INTEGER}, #{userAddress,jdbcType=VARCHAR}, #{totalPledge,jdbcType=DOUBLE}, 
      #{unwithdrawPledge,jdbcType=DOUBLE}, #{totalPledgeReward,jdbcType=DOUBLE}, #{unreceivedPledgeReward,jdbcType=DOUBLE}, 
      #{totalFlowReward,jdbcType=DOUBLE}, #{unreceivedFlowReward,jdbcType=DOUBLE}, #{totalExperienceReward,jdbcType=DOUBLE}, 
      #{unreceivedExperienceReward,jdbcType=DOUBLE}, #{virtualTotalPledge,jdbcType=DOUBLE}, 
      #{virtualUnwithdrawPledge,jdbcType=DOUBLE}, #{virtualTotalPledgeReward,jdbcType=DOUBLE}, 
      #{virtualUnreceivedPledgeReward,jdbcType=DOUBLE}, #{virtualFlowAmount,jdbcType=DOUBLE}, 
      #{virtualTotalFlowReward,jdbcType=DOUBLE}, #{virtualUnreceivedFlowReward,jdbcType=DOUBLE}, 
      #{virtualExperienceAmount,jdbcType=DOUBLE}, #{virtualTotalExperienceReward,jdbcType=DOUBLE}, 
      #{virtualUnreceivedExperienceReward,jdbcType=DOUBLE}, #{currencyType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.pledge.envconsole.book.entity.Statistics" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `statistics`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="totalPledge != null">
        total_pledge,
      </if>
      <if test="unwithdrawPledge != null">
        unwithdraw_pledge,
      </if>
      <if test="totalPledgeReward != null">
        total_pledge_reward,
      </if>
      <if test="unreceivedPledgeReward != null">
        unreceived_pledge_reward,
      </if>
      <if test="totalFlowReward != null">
        total_flow_reward,
      </if>
      <if test="unreceivedFlowReward != null">
        unreceived_flow_reward,
      </if>
      <if test="totalExperienceReward != null">
        total_experience_reward,
      </if>
      <if test="unreceivedExperienceReward != null">
        unreceived_experience_reward,
      </if>
      <if test="virtualTotalPledge != null">
        virtual_total_pledge,
      </if>
      <if test="virtualUnwithdrawPledge != null">
        virtual_unwithdraw_pledge,
      </if>
      <if test="virtualTotalPledgeReward != null">
        virtual_total_pledge_reward,
      </if>
      <if test="virtualUnreceivedPledgeReward != null">
        virtual_unreceived_pledge_reward,
      </if>
      <if test="virtualFlowAmount != null">
        virtual_flow_amount,
      </if>
      <if test="virtualTotalFlowReward != null">
        virtual_total_flow_reward,
      </if>
      <if test="virtualUnreceivedFlowReward != null">
        virtual_unreceived_flow_reward,
      </if>
      <if test="virtualExperienceAmount != null">
        virtual_experience_amount,
      </if>
      <if test="virtualTotalExperienceReward != null">
        virtual_total_experience_reward,
      </if>
      <if test="virtualUnreceivedExperienceReward != null">
        virtual_unreceived_experience_reward,
      </if>
      <if test="currencyType != null">
        currency_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="totalPledge != null">
        #{totalPledge,jdbcType=DOUBLE},
      </if>
      <if test="unwithdrawPledge != null">
        #{unwithdrawPledge,jdbcType=DOUBLE},
      </if>
      <if test="totalPledgeReward != null">
        #{totalPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="unreceivedPledgeReward != null">
        #{unreceivedPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="totalFlowReward != null">
        #{totalFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="unreceivedFlowReward != null">
        #{unreceivedFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="totalExperienceReward != null">
        #{totalExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="unreceivedExperienceReward != null">
        #{unreceivedExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalPledge != null">
        #{virtualTotalPledge,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnwithdrawPledge != null">
        #{virtualUnwithdrawPledge,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalPledgeReward != null">
        #{virtualTotalPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnreceivedPledgeReward != null">
        #{virtualUnreceivedPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualFlowAmount != null">
        #{virtualFlowAmount,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalFlowReward != null">
        #{virtualTotalFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnreceivedFlowReward != null">
        #{virtualUnreceivedFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualExperienceAmount != null">
        #{virtualExperienceAmount,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalExperienceReward != null">
        #{virtualTotalExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnreceivedExperienceReward != null">
        #{virtualUnreceivedExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="currencyType != null">
        #{currencyType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.pledge.envconsole.book.entity.Statistics">
    <!--@mbg.generated-->
    update `statistics`
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="totalPledge != null">
        total_pledge = #{totalPledge,jdbcType=DOUBLE},
      </if>
      <if test="unwithdrawPledge != null">
        unwithdraw_pledge = #{unwithdrawPledge,jdbcType=DOUBLE},
      </if>
      <if test="totalPledgeReward != null">
        total_pledge_reward = #{totalPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="unreceivedPledgeReward != null">
        unreceived_pledge_reward = #{unreceivedPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="totalFlowReward != null">
        total_flow_reward = #{totalFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="unreceivedFlowReward != null">
        unreceived_flow_reward = #{unreceivedFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="totalExperienceReward != null">
        total_experience_reward = #{totalExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="unreceivedExperienceReward != null">
        unreceived_experience_reward = #{unreceivedExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalPledge != null">
        virtual_total_pledge = #{virtualTotalPledge,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnwithdrawPledge != null">
        virtual_unwithdraw_pledge = #{virtualUnwithdrawPledge,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalPledgeReward != null">
        virtual_total_pledge_reward = #{virtualTotalPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnreceivedPledgeReward != null">
        virtual_unreceived_pledge_reward = #{virtualUnreceivedPledgeReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualFlowAmount != null">
        virtual_flow_amount = #{virtualFlowAmount,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalFlowReward != null">
        virtual_total_flow_reward = #{virtualTotalFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnreceivedFlowReward != null">
        virtual_unreceived_flow_reward = #{virtualUnreceivedFlowReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualExperienceAmount != null">
        virtual_experience_amount = #{virtualExperienceAmount,jdbcType=DOUBLE},
      </if>
      <if test="virtualTotalExperienceReward != null">
        virtual_total_experience_reward = #{virtualTotalExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="virtualUnreceivedExperienceReward != null">
        virtual_unreceived_experience_reward = #{virtualUnreceivedExperienceReward,jdbcType=DOUBLE},
      </if>
      <if test="currencyType != null">
        currency_type = #{currencyType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.pledge.envconsole.book.entity.Statistics">
    <!--@mbg.generated-->
    update `statistics`
    set user_id = #{userId,jdbcType=INTEGER},
      user_address = #{userAddress,jdbcType=VARCHAR},
      total_pledge = #{totalPledge,jdbcType=DOUBLE},
      unwithdraw_pledge = #{unwithdrawPledge,jdbcType=DOUBLE},
      total_pledge_reward = #{totalPledgeReward,jdbcType=DOUBLE},
      unreceived_pledge_reward = #{unreceivedPledgeReward,jdbcType=DOUBLE},
      total_flow_reward = #{totalFlowReward,jdbcType=DOUBLE},
      unreceived_flow_reward = #{unreceivedFlowReward,jdbcType=DOUBLE},
      total_experience_reward = #{totalExperienceReward,jdbcType=DOUBLE},
      unreceived_experience_reward = #{unreceivedExperienceReward,jdbcType=DOUBLE},
      virtual_total_pledge = #{virtualTotalPledge,jdbcType=DOUBLE},
      virtual_unwithdraw_pledge = #{virtualUnwithdrawPledge,jdbcType=DOUBLE},
      virtual_total_pledge_reward = #{virtualTotalPledgeReward,jdbcType=DOUBLE},
      virtual_unreceived_pledge_reward = #{virtualUnreceivedPledgeReward,jdbcType=DOUBLE},
      virtual_flow_amount = #{virtualFlowAmount,jdbcType=DOUBLE},
      virtual_total_flow_reward = #{virtualTotalFlowReward,jdbcType=DOUBLE},
      virtual_unreceived_flow_reward = #{virtualUnreceivedFlowReward,jdbcType=DOUBLE},
      virtual_experience_amount = #{virtualExperienceAmount,jdbcType=DOUBLE},
      virtual_total_experience_reward = #{virtualTotalExperienceReward,jdbcType=DOUBLE},
      virtual_unreceived_experience_reward = #{virtualUnreceivedExperienceReward,jdbcType=DOUBLE},
      currency_type = #{currencyType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectPledgeAmount" resultType="java.lang.Double">
    select sum(total_pledge) from statistics join user on user.id = statistics.user_id where user.has_flow = 1
    <if test="userIds != null">
      and user_id in
      <foreach close=")" collection="userIds" item="id" open="(" separator=",">
        #{id}
      </foreach>
    </if>
  </select>

  <select id="selectPledgeAmountByUserIdsAndDate" resultType="java.lang.Double">
    select sum(total_pledge) from statistics join user on user.id = statistics.user_id where user.has_flow = 1
    <if test="userIds != null">
      and user_id in
      <foreach close=")" collection="userIds" item="id" open="(" separator=",">
        #{id}
      </foreach>
    </if>
  </select>
</mapper>